extends layout

block content
	if featured
		.splash.splash-index.featured
			.avatars
				ul
					each avatarFile in Mikuia.Tools.getAvatars(1000)
						li
							img(src='/img/avatars/' + avatarFile, width='64', height='64')
			.container
				.row
					.col-xs-4
						object.player(type='application/x-shockwave-flash', height='225', width='369', data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=' + featured.display_name)
							param(name='allowFullScreen', value='true')
							param(name='allowScriptAccess', value='always')
							param(name='allowNetworking', value='all')
							param(name='movie', value='http://www.twitch.tv/widgets/live_embed_player.swf')
							param(name='flashvars', value='hostname=www.twitch.tv&channel=' + featured.display_name + '&auto_play=true&start_volume=0')
					.col-xs-8.blackbox
						.pull-right
							i.fa.fa-user(style='color: red;')
							|  #{featured.viewers}  
							i.fa.fa-eye(style='color: #aaa;')
							|  #{featured.views}  
							i.fa.fa-user(style='color: #aaa;')
							|  #{featured.followers}
						h1
							| #{featured.display_name}
							small  playing #{featured.game}
						h4 #{featured.status}
						br
						h6 BIO
						if featured.bio != 'null'
							i=featured.bio
						else
							i No bio.
						br
						br
						.blackbox-buttons
							a.btn.btn-twitch.btn-xs(href='http://twitch.tv/' + featured.display_name)
								img(src='/img/glitch.png', height='18', width='18')
								|  Watch on Twitch.tv
	else
		h2 WELL FUCK
	.container
		.row
			.col-md-8
				each panel in panels
					.panel.panel-default
						.panel-heading=panel.title
						.panel-body!=panel.content
			.col-md-4
				.panel.panel-info
					.panel-heading Guide
					.panel-body
						h2 Can't handle the awesomeness?
						p Read the guide!
						a.btn.btn-info.btn-xs.pull-right(href='http://forums.mikuia.tv/topic/6/how-to-use-mikuia') Guide
				.panel.panel-danger
					.panel-heading Bug Reports
					.panel-body
						h2 Found a bug?
						p Check out the forums, report it, we'll respond ASAP!
						a.btn.btn-danger.btn-xs.pull-right(href='http://forums.mikuia.tv/category/4/bug-reports') Bug Reports
				.panel.panel-success
					.panel-heading Feature Requests
					.panel-body
						h2 Something missing?
						p Ask for it on the forums!
						a.btn.btn-success.btn-xs.pull-right(href='http://forums.mikuia.tv/category/3/feature-requests') Feature Requests
	.well
		.container
			.row
				.col-md-12
					h1 Other Streams
					each miniData in sorting
						+stream(streams[miniData[0]], displayHtml, miniData[1])