extends layout

block content
	if featured
		.splash.splash-index.featured.nomargin.bg-mikuia(style=(featured.profile_banner != null && featured.profile_banner != 'null' ? 'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + featured.profile_banner + '\'); background-position: top; background-repeat: no-repeat; background-size: cover;' : undefined))
			//- .avatars
			//- 	ul
			//- 		each avatarFile in Mikuia.Tools.getAvatars(1000)
			//- 			li
			//- 				img(src='/img/avatars/' + avatarFile, width='64', height='64')
			.container.animation-fade-in-down
				.row
					.col-xs-4
						object.player(type='application/x-shockwave-flash', height='225', width='369', data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=' + featured.name)
							param(name='allowFullScreen', value='true')
							param(name='allowScriptAccess', value='always')
							param(name='allowNetworking', value='all')
							param(name='movie', value='http://www.twitch.tv/widgets/live_embed_player.swf')
							param(name='flashvars', value='hostname=www.twitch.tv&channel=' + featured.name + '&auto_play=true&start_volume=0')
					.col-xs-8.blackbox
						.pull-right
							i.fa.fa-user(style='color: red;')
							|  #{featured.viewers}  
							i.fa.fa-eye(style='color: #aaa;')
							|  #{featured.views}  
							i.fa.fa-user(style='color: #aaa;')
							|  #{featured.followers}
						h1
							| #{featured.display_name}
							small  playing #{featured.game}
						h4 #{featured.status}
						br
						h6 BIO
						if featured.bio != 'null'
							i=featured.bio
						else
							i No bio.
						br
						br
						.blackbox-buttons
							a.btn.btn-twitch.btn-xs(href='http://twitch.tv/' + featured.name)
								img(src='/img/glitch.png', height='18', width='18')
								|  Watch on Twitch.tv
	else
		br
		br
	.infobox(style='background-color: #333; box-shadow: 0px 0px 50px #999;')
		.container(style='height: 100%;')
			.infobox-slack.animation-fade-in-down
				.row
					.col-md-12
						h1 Mikuia.tv has a Slack group now.
						a(href='/slack')
							| Click here to request an invite.
	.container
		.row
			.col-md-8.animation-fade-in-right
				.panel.panel-default
					.panel-heading Changelog
					.panel-body

						if Mikuia.Stuff.githubCommits.length > 5
							each commit in Mikuia.Stuff.githubCommits
								- var date = moment(commit.commit.author.date).format('MMMM Do, YYYY')
								
								if previousDate
									if date != previousDate
										br
										h3.text-primary=date
										br
								else
									h3.text-primary=date
									br

								- var previousDate = date						

								.media.nomargin
									a.pull-left(href=commit.author.html_url)
										img.media-object(src=commit.author.avatar_url, width='20', height='20')
									.media-body
										a(href=commit.html_url)
											h5.media-heading!=commit.commit.message
						else
							.text-muted
								| Error reading changelog. You can check out the
								a(href='http://github.com/Mikuia/Mikuia/commits')  GitHub commits.
				
				each panel in panels
					.panel.panel-default
						.panel-heading=panel.title
						.panel-body!=panel.content
			.col-md-4.animation-fade-in-left
				.panel.panel-default
					.panel-heading What?
					.panel-body
						h2 Mikuia?
						p
							| Mikuia is a Twitch bot that will help your chat interact with games you're playing!
							br
							| Looking up stats, sharing accomplishments and useful information, providing level and coin systems!
						a.btn.btn-info.btn-xs.pull-right(href='/guide') Read the guide >>


	.well
		.container
			.row
				.col-md-9.animation-fade-in-right
					h1 Other Streams
					each miniData in sorting
						+stream(streams[miniData[0]], displayHtml, miniData[1])
				.col-md-3.animation-fade-in-left
					h1 Woo, Twitter
					a.twitter-timeline(href='https://twitter.com/Hatsunya', data-widget-id='540548781029462017') Tweets by @Hatsunya
					script(type='text/javascript').
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");