extends layout

block content
	+userHeader(Channel)
	
	if Channel.isLive
		.infobox.infobox-live
			.container
				.row
					.col-md-2.visible-lg-block
						a(href='http://twitch.tv/' + Channel.name, target='_blank')
							img.infobox-preview(src=Channel.stream.preview, width='147', height='90')
					.col-md-10
						h1.hidden-xs
							i.fa.fa-circle(style='color: red;')
							|  Currently Live 
							small playing #{Channel.stream.game}
						h2.visible-xs-block
							br
							i.fa.fa-circle(style='color: red;')
							|  Currently Live 
							small playing #{Channel.stream.game}
						p
							h4.text-muted
								| #{Channel.stream.status} >> 
								a(href='http://twitch.tv/' + Channel.name, target='_blank') Watch on Twitch
	.container
		.row
			.col-md-8
				.panel.panel-default
					.panel-heading Bio
					.panel-body
						if Channel.bio != 'null' && Channel.bio != null
							i=Channel.bio
						else
							i.text-muted No bio.
			.col-md-4
				.panel.panel-default
					.panel-heading Badges
					.panel-body
						if Object.keys(Channel.badges).length > 0
							each badge, badgeId in Channel.badges
								a(href='/badge/' + badgeId)
									img(src='/img/badges/' + badgeId + '.png', width='64', height='64', rel='tooltip', title=('<b>' + badge.displayName + '</b><br />' + badge.description + '<br />' + Mikuia.Tools.colorRarity(badge.rarity)))
						else
							.text-muted No badges yet.

				.visible-xs-block
					h1
						+level(Channel.level)

				.panel.panel-default
					.panel-heading Levels
					.panel-body
						+levelOverview(Channel.experience)
					.panel-footer
						a(href='/user/' + Channel.name + '/levels') See more >>