extends layout

block content
	h3.page-title
		| #{command} Command Settings 
		small try not to spam your chat
	.page-bar
		ul.page-breadcrumb
			li
				i.fa.fa-home
				a(href='/dashboard') Dashboard
				i.fa.fa-angle-right
			li
				a(href='/dashboard/commands') Commands	
				i.fa.fa-angle-right
			li
				a Settings
	.row
		form.form(action='/dashboard/commands/save/' + command, method='post', role='form')
			.col-lg-4.col-md-6.col-sm-12
				.portlet.light
					.portlet-title
						.caption
							i.fa.fa-cogs
							span.caption-subject.bold.uppercase Command Settings
					.portlet-body.form
						.form-body
							h3 User Filters
							.form-group.form-md-checkboxes
								.md-checkbox-list
									.md-checkbox
										if userSettings && userSettings._onlyBroadcaster
											if userSettings._onlyBroadcaster
												input.md-check(type='checkbox', id='_onlyBroadcaster', name='_onlyBroadcaster', checked)
											else
												input.md-check(type='checkbox', id='_onlyBroadcaster', name='_onlyBroadcaster')
										else
											input.md-check(type='checkbox', id='_onlyBroadcaster', name='_onlyBroadcaster')
										label(for='_onlyBroadcaster')
											span
											span.check
											span.box
											| Broadcaster Only 
											i.fa.fa-question-circle(rel='tooltip', title='This command will be usable only by you.')
									.md-checkbox
										if userSettings && userSettings._onlyMods
											if userSettings._onlyMods
												input.md-check(type='checkbox', id='_onlyMods', name='_onlyMods', checked)
											else
												input.md-check(type='checkbox', id='_onlyMods', name='_onlyMods')
										else
											input.md-check(type='checkbox', id='_onlyMods', name='_onlyMods')
										label(for='_onlyMods')
											span
											span.check
											span.box
											| Mods Only 
											i.fa.fa-question-circle(rel='tooltip', title='This command will be usable only by channel moderators.')
									.md-checkbox
										if userSettings && userSettings._onlySubs
											if userSettings._onlySubs
												input.md-check(type='checkbox', id='_onlySubs', name='_onlySubs', checked)
											else
												input.md-check(type='checkbox', id='_onlySubs', name='_onlySubs')
										else
											input.md-check(type='checkbox', id='_onlySubs', name='_onlySubs')
										label(for='_onlySubs')
											span
											span.check
											span.box
											| Subs Only 
											i.fa.fa-question-circle(rel='tooltip', title='This command will be usable only by subscribers.')
							h3 Mikuia Levels
							br
							.form-group.form-md-line-input
								if userSettings && userSettings._minLevel
									input.form-control(type='number', name='_minLevel', placeholder='0', value=userSettings._minLevel)
								else
									input.form-control(type='number', name='_minLevel', placeholder='0')
								label(for='_minLevel') Minimal Level
								span.help-block Minimal Level required to use the command.
								.form-control-focus

							br
							h3 Mikuia Coins
							br
							.form-group.form-md-line-input
								if userSettings && userSettings._coinCost
									input.form-control(type='number', name='_coinCost', placeholder='0', value=userSettings._coinCost)
								else
									input.form-control(type='number', name='_coinCost', placeholder='0')
								label(for='_minLevel') Coin Cost
								span.help-block Amount of coins deducted for using the command.
								.form-control-focus
							br

			.col-lg-4.col-md-6.col-sm-12
				.portlet.light
					.portlet-title
						.caption
							i.fa.fa-cogs
							span.caption-subject.bold.uppercase Handler Settings
					.portlet-body.form
						.form-body
							if settings
								+settings(settings, userSettings)
							else
								.note.note-warning This handler has no additional settings.
						.form-actions
							button.btn.btn-primary(type='submit') Save
			.col-lg-4.col-md-6.col-sm-12
				if guide
					.portlet.light.bg-inverse
						.portlet-title
							.caption.font-grey-silver
								i.fa.fa-cogs.font-grey-silver
								span.caption-subject.bold.uppercase Handler Guide
								span.caption-helper  #{handlerName}
						.portlet-body!=guide