extends layout

block content
	h3.page-title
		| Commands 
		small they're fun i think
	.page-bar
		ul.page-breadcrumb
			li
				i.fa.fa-home
				a(href='/dashboard') Dashboard
				i.fa.fa-angle-right
			li
				a(href='/dashboard/commands') Commands	
		.page-toolbar
			.btn-group.pull-right
				a.btn.btn-primary.btn-fit-height#add(data-target='#addModal', data-toggle='modal') Add a command
	.row
		.col-md-12
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs
						span.caption-subject.bold.uppercase Commands
						span.caption-helper  this is a list of them
				.portlet-body
					table.table.table-striped
						thead
							tr
								th Command
								th Handler
								th Actions
						tbody
							each command in commands
								tr(name=command.name)
									td=command.name
									td
										| #{command.handler} - #{command.description}
										.badge.badge-roundless.badge-default.pull-right=command.plugin
										if command.settings
											if command.settings._minLevel && parseInt(command.settings._minLevel) > 0
												.badge.badge-roundless.badge-danger.pull-right Level #{command.settings._minLevel}

											if command.settings._coinCost && parseInt(command.settings._coinCost) > 0
												if parseInt(command.settings._coinCost) > 1
													.badge.badge-roundless.badge-warning.pull-right #{command.settings._coinCost} #{command.coin.coinNamePlural}
												else
													.badge.badge-roundless.badge-warning.pull-right #{command.settings._coinCost} #{command.coin.coinName}

											if command.settings._onlyMods
												.badge.badge-roundless.badge-success.pull-right Only Mods

											if command.settings._onlySubs
												.badge.badge-roundless.badge-info.pull-right Only Subs

											if command.settings._onlyBroadcaster
												.badge.badge-roundless.badge-primary.pull-right Only Broadcaster

									td
										a.btn.btn-default.btn-sm.command-settings(href='/dashboard/commands/settings/' + command.name) Settings
										a.btn.btn-danger.btn-sm.command-remove(href='#', title=command.name) Remove

	form.form-horizontal(action='/dashboard/commands/add', method='post', role='form')
		.modal.fade#addModal
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') &times;
						h4.modal-title Add a command
					.modal-body
						.form-body
							.form-group.form-md-line-input
								label.col-sm-3.control-label Command
								.col-sm-9
									input.form-control(type='text', name='command', placeholder='!command')
									span.help-block This is the thing people will write in the chat.
									.form-control-focus
							.form-group.form-md-line-input
								label.col-sm-3.control-label Handler
								.col-sm-9
									select.form-control(name='handler')
										each handler, handlerName in handlers
											if enabledPlugins.indexOf(handler.plugin) > -1
												if handlerName == 'base.dummy'
													option(value=handlerName, selected=true) #{handlerName} - #{handler.description}
												else
													option(value=handlerName) #{handlerName} - #{handler.description}
									span.help-block This specifies what you expect the command to do.
									.form-control-focus
					.modal-footer
						a.btn.btn-default(data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Add
		

block footerScript
	script(type='text/javascript').

		$('#add').click(function() {
			bootbox.dialog({
				title: 'Add a command',
				message: ''
			})
		})

		$('.command-remove').click(function() {
			var commandName = $(this).attr('title')
			$.post('/dashboard/commands/remove', {
				command: commandName
			}).done(function(response) {
				if(response.removed) {
					$('tr[name=' + commandName + ']').fadeOut()
				}
			})
		})