extends layout

block content
	.page-head
		.page-title
			h1
				| Commands
				small  those things you write and they do things
	ul.page-breadcrumb.breadcrumb
		li
			a(href='/dashboard') Dashboard
			i.fa.fa-circle
		li
			a(href='/dashboard/commands') Commands
	.row
		.col-sm-8
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs
						span.caption-subject.bold.uppercase Commands
						span.caption-helper  this is a list of them
				.portlet-body
					table.table.table-bordered
						thead
							tr
								td Command
								td Handler
								td Actions
						tbody
							each command, commandName in commands
								tr
									td=commandName
									td #{command.handler} - #{command.description}
									td
										a.btn.input-sm.green.command-settings(href='/dashboard/commands/settings/' + commandName) Settings
										a.btn.input-sm.red.command-remove(href='#', title=commandName) Remove
		.col-sm-4
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-blue-sharp
						span.caption-subject.bold.uppercase.font-blue-sharp Add a command
						span.caption-helper  why not
				.portlet-body.form
					form.form-horizontal(action='/dashboard/commands/add', method='post', role='form')
						.form-body
							.form-group
								label.col-sm-3.control-label Command
								.col-sm-9
									input.form-control(type='text', name='command', placeholder='!command')
									span.help-block This is the thing people will write in the chat.
							.form-group
								label.col-sm-3.control-label Handler
								.col-sm-9
									select.form-control(name='handler')
										each handler, handlerName in handlers
											if enabledPlugins.indexOf(handler.plugin) > -1
												if handlerName == 'base.dummy'
													option(value=handlerName, selected=true) #{handlerName} - #{handler.description}
												else
													option(value=handlerName) #{handlerName} - #{handler.description}
									span.help-block This specifies what you expect the command to do.
						.form-actions
							button.btn.blue(type='submit') Add

block footerScript
	script(type='text/javascript').

		$('.command-remove').click(function() {
			$.post('/dashboard/commands/remove', {
				command: $(this).attr('title')
			}).done(function() {
				location.reload()
			})
		})


		// MIKUIA IS SHIT
		// CONFIRMED