extends layout

block content
	.row
		.col-md-12
			h3.page-title
				| Commands
				small  those things you write and they do things
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
					i.fa.fa-angle-right
				li
					a(href='/dashboard/commands') Commands
	.row
		.col-md-8
			table.table.table-bordered
				thead
					tr
						td Command
						td Handler
						td Actions
				tbody
					each command, commandName in commands
						tr
							td=commandName
							td #{command.handler} - #{command.description}
							td
								a.btn.input-sm.red(href='/dashboard/commands/remove') Remove
		.col-md-4
			.panel.panel-info
				.panel-heading
					h3.panel-title Add a command
				.panel-body
					form.form-horizontal(action='/dashboard/commands/add', method='post', role='form')
						.form-body
							.form-group
								label.col-md-3.control-label Command
								.col-md-9
									input.form-control(type='text', name='command', placeholder='!command')
									span.help-block This is the thing people will write in the chat.
							.form-group
								label.col-md-3.control-label Handler
								.col-md-9
									select.form-control(name='handler')
										each handler, handlerName in handlers
											option(value=handlerName) #{handlerName} - #{handler.description}
									span.help-block This specifies what you expect the command to do.
						.form-actions
							button.btn.blue(type='submit') Add