extends layout

block content
	.page-head
		.page-title
			h1
				| Dashboard
				small  stuff and more stuff
	ul.page-breadcrumb.breadcrumb
		li
			a(href='/dashboard') Dashboard
	.row
		.col-md-12
			if !enabled
				.alert.alert-block.alert-danger
					h4.alert-heading Mikuia is not enabled on your channel!
					p
						| If you start complaining that it's not working without even trying to enable it, I'll fucking cut you.
					p
						a.btn.btn-default(href='/dashboard/settings') Settings
	.row
		.col-lg-3.col-md-3.col-sm-16.col-xs-12
			if live
				.dashboard-stat2
					.display
						.number
							h3.font-red-haze=tracker.viewers
							small Viewers
						.icon
							i.icon-user
		.col-lg-3.col-md-3.col-sm-16.col-xs-12
			if live
				.dashboard-stat2
					.display
						.number
							h3.font-blue-sharp=tracker.chatters
							small Chatters
						.icon
							i.icon-users
		.col-lg-3.col-md-3.col-sm-16.col-xs-12
			.dashboard-stat2
					.display
						.number
							if tracker.followers
								h3.font-purple-plum=tracker.followers
							else
								h3.font-purple-plum N/A
							small Followers
						.icon
							i.icon-users
		.col-lg-3.col-md-3.col-sm-16.col-xs-12
			.dashboard-stat2
				.display
					.number
						h3.font-green-sharp=tracker.commands
						small Total Commands Handled
					.icon
						i.icon-wrench
	.row
		.col-lg-3.col-md-3.col-sm-16.col-xs-12
			.dashboard-stat2
				.display
					.number
						h3.font-green-sharp=tracker.messages
						small Total Chat Messages
					.icon
						i.icon-speech

			if supporter
				- var supporterLeft = supporterStatus - (new Date()).getTime() / 1000
				- var supporterPercent = Math.floor(100 - (supporterLeft / (supporterStatus - supporterStart)) * 100)
				.dashboard-stat2
					.display
						.number
							h3.font-red-haze=supporterLeftText
							small Mikuia Supporter Ending
						.icon
							i.icon-heart
					.progress-info
						.progress
							.progress-bar.red-haze(style='width: #{supporterPercent}%')
								.sr-only #{supporterPercent}%
						.status
							.status-title progress
							.status-number #{supporterPercent}%