extends layout

block content
	.page-head
		.page-title
			h1
				| Settings
				small  where you change stuff
	ul.page-breadcrumb.breadcrumb
		li
			a(href='/dashboard') Dashboard
			i.fa.fa-circle
		li
			a(href='/dashboard/settings') Settings
	.row
		.col-md-5
			if !enabled
				- var className = 'font-red-sunglo'
			else
				- var className = 'font-green-sharp'
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs(class=className)
						span.caption-subject.bold.uppercase(class=className) Status
						span.caption-helper  help me
				.portlet-body
					if enabled
						p.lead #{Mikuia.settings.bot.name} is enabled.
						a.btn.default(onclick="toggle('disable')") Disable
					else
						p.lead #{Mikuia.settings.bot.name} is disabled.
						a.btn.green(onclick="toggle('enable')") Enable

			if enabled
				.portlet.light
					.portlet-title
						.caption
							i.fa.fa-cogs.font-blue-sharp
							span.caption-subject.bold.uppercase.font-blue-sharp Plugins
							span.caption-helper  they make stuff do stuff
					.portlet-body
						table.table
							thead
								tr
									th Name
									th Description
									th Actions
							tbody
								each plugin, pluginName in plugins
									if !plugin.manifest.hidden
										tr
											td=plugin.manifest.name
											td=plugin.manifest.description
											td
												if enabledPlugins.indexOf(pluginName) > -1
													a.btn.btn-xs.default(onclick="pluginToggle('" + pluginName + "', 'disable')", rel='tooltip', title='Click to disable ' + plugin.manifest.name + '.') Disable
													a.btn.btn-xs.default(href='#' + pluginName, rel='tooltip', title='View settings for ' + plugin.manifest.name)
														i.glyphicon.glyphicon-cog
												else
													a.btn.btn-xs.green(onclick="pluginToggle('" + pluginName + "', 'enable')", rel='tooltip', title='Click to enable ' + plugin.manifest.name + '.') Enable
		.col-md-7
			each pluginName in enabledPlugins.sort()
				if plugins[pluginName]
					- var plugin = plugins[pluginName]
					.portlet.light(id=pluginName)
						.portlet-title
							.caption
								i.fa.fa-cogs
								span.caption-subject.bold.uppercase=plugin.manifest.name
								span.caption-helper  plugin settings
						if plugin.manifest.settings && plugin.manifest.settings.channel
							.portlet-body.form
								form.form-horizontal(action='/dashboard/settings/save/' + pluginName, method='post', role='form')
									.form-body
										+settings(plugin.manifest.settings.channel, settings[pluginName], categories[pluginName])
									.form-actions
										button.btn.blue(type='submit') Save
						else
							.portlet-body
								.text-muted This plugin has no configurable settings.


block footerScript
	script(type='text/javascript').

		function pluginToggle(name, status) {
			$.post('/dashboard/settings/plugins/toggle', {
				name: name,
				status: status
			}).done(function() {
				location.reload()
			})
		}

		function toggle(status) {
			$.post('/dashboard/settings/toggle', {
				status: status
			}).done(function() {
				location.reload()
			})
		}