extends layout

block content
	.row
		.col-md-12
			h3.page-title
				| Settings
				small  where you change stuff
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
					i.fa.fa-angle-right
				li
					a(href='/dashboard/settings') Settings
	.row
		.col-md-4
			if !enabled
				- var className = 'panel-warning'
			else
				- var className = 'panel-success'
			.panel(class=className)
				.panel-heading
					h3.panel-title Status
				.panel-body
					if enabled
						p.lead Mikuia is enabled.
						a.btn.red(href='/dashboard/settings/disable') Disable
					else
						p.lead Mikuia is disabled.
						a.btn.green(href='/dashboard/settings/enable') Enable
		.col-md-8
			if enabled
				.panel.panel-info
					.panel-heading
						h3.panel-title Plugins
					.panel-body
						table.table
							thead
								tr
									th Name
									th Description
									th Actions
							tbody
								each plugin, pluginName in plugins
									if !plugin.manifest.hidden
										tr
											td=plugin.manifest.name
											td=plugin.manifest.description
											td
												if enabledPlugins.indexOf(pluginName) > -1
													a.btn.green(href='/dashboard/settings/plugins/disable/' + pluginName) Enabled
												else
													a.btn.red(href='/dashboard/settings/plugins/enable/' + pluginName) Disabled
	.row
		each pluginName in enabledPlugins
			- var plugin = plugins[pluginName]
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3.panel-title=plugin.manifest.name
					.panel-body.form
						if plugin.manifest.settings && plugin.manifest.settings.channel
							form.form-horizontal(role='form')
								.form-body
									each settings, categoryName in plugin.manifest.settings.channel
										h3=categoryName
										each setting, settingName in settings
											.form-group
												label.col-md-3.control-label=setting.name
												.col-md-9
													input.form-control(type='text', placeholder=setting.default)
													span.help-block=setting.description
								.form-actions
									button.btn.blue(type='submit') Save

						else
							.text-muted This plugin has no configurable settings.
