mixin settings(settings, userSettings)
	each setting, settingName in settings
		.form-group
			label.col-md-3.control-label=setting.name
			.col-md-8
				case setting.type
					when 'text'
						if userSettings && userSettings[settingName]
								input.form-control(type='text', name=settingName, placeholder=setting.default, value=userSettings[settingName])
						else
							input.form-control(type='text', name=settingName, placeholder=setting.default)
				span.help-block=setting.description